/* Configuration */

$enable-semantic-container: true;

/* Packages */

@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/@picocss/pico/scss/pico';

/* Theme */

@import './theme.scss';

/* Components */

@import './components/layout.scss';

/* Home Page */

#home {
	--spacing-block: 1rem;
	
	fieldset, figure {
		margin-bottom: 0;
	}
}

/* Table Page */

#table {
	.pagination {
		display: flex;
		flex-direction: row;

		justify-content: space-between;
		align-items: center;

		button {
			width: fit-content;
		}
	}

	th, td {
		white-space: nowrap;
	}
}

/* Input Page, Upload Page */

#input, #upload {
	article form {
		.grid {
			grid-row-gap: 0;

			@if map-get($breakpoints, "lg") {
				@media (min-width: map-get($breakpoints, "lg")) {
					grid-row-gap: var(--spacing-gutter);
				}
			}
		}

		del {
			text-decoration: none;
		}
	}
}
